{
    "datacenter": "dc1",
    "data_dir": "/var/consul",
    "node_name": "{{ ansible_hostname }}",
    "retry_join": ["{{ hostvars['consul-master']['ansible_facts']['eth1']['ipv4']['address'] }}"],
    "bind_addr": "{{ ansible_facts['eth1']['ipv4']['address'] }}",
    "enable_local_script_checks": true
}