{
    "datacenter": "dc1",
    "data_dir": "/var/consul",
    "server": true,
    "bootstrap": true,
    "ui": true,
    "node_name": "{{ ansible_hostname }}",
    "bind_addr": "{{ ansible_facts['eth1']['ipv4']['address'] }}",
    "enable_local_script_checks": true,
    "client_addr": "0.0.0.0",
    "addresses" : {
        "http": "{{ ansible_facts['eth1']['ipv4']['address'] }} 127.0.0.1"
    }
}